{% extends "base/base.html" %}
{% block title %}
    Administración del Recinto
{% endblock title %}
{% block content %}
    <h1>Administración del Recinto</h1>
    <div class="card mt-5">
        <div class="card-header">
            <a name="btn-add-student"
               id="btn-add-student"
               class="btn btn-success"
               href="{% url 'addstudent' %}"
               role="button">Agregar alumno</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Listado de Alumnos</h5>
            <div class="table-responsive">
                <table class="table text-center table-primary">
                    <thead>
                        <tr>
                            <th>DNI</th>
                            <th>Foto DNI</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Teléfono</th>
                            <th>Orientador</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                            <tr>
                                <td>{{ student.dni }}</td>
                                <td>
                                    <img src="{{ student.dniImage.url }}"
                                         height="100"
                                         width="auto"
                                         alt="DNI Image" />
                                </td>
                                <td>{{ student.studentName }}</td>
                                <td>{{ student.email }}</td>
                                <td>{{ student.phone }}</td>
                                <td>{{ student.orienteer }}</td>
                                <td>{{ student.status }}</td>
                                <td>
                                    <a name="btn-update-student"
                                       id="btn-update-student"
                                       class="btn btn-info btn-sm"
                                       href="{% url 'updatestudent' student.dni %}"
                                       role="button">Editar</a>
                                    <a name="btn-delete-student"
                                       id="btn-delete-student"
                                       class="btn btn-danger btn-sm my-1"
                                       href="{% url 'deleteStudent' student.dni %}"
                                       role="button">Borrar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer text-muted"></div>
    </div>
{% endblock content %}
